QWidget {
    background-color: #3f4041;
    color: #d0d0d0;
    font-size:12px;
}

QGroupBox {
    border: 1px solid #4a4a4b;
    color: #38393a;
    background-color: #38393a;
    border-radius: 1px;
    margin-top: 1ex;
    padding-top: 5px;
}
QGroupBox QWidget {
    background-color: #38393a;
    color: #d0d0d0;
    font-size:12px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top center; /* position at the top center */
    padding: 0 3px;
    color: #d0d0d0;
}

QHeaderView {
    background-color: #363636;
    color: #d0d0d0;
    font-size:12px;
}

QHeaderView::section:horizontal {
    color: green;
    border-style: solid;
    background-color: qlineargradient(
        x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #343434,
        stop: 1 #3a3b3e
        );
}

QHeaderView::section:vertival {
    color: white;
    border-style: solid;
    background-color: qlineargradient(
        x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #343434,
        stop: 1 #3a3b3e
        );
}

QHeaderView::next-selected {
    color:#fafafa;
    background-color::#010;
}

QHeaderView::previous-selected {
    color:#fafafa;
    background-color::#010;
}

QHeaderView::selected {
    color:#fafafa;
    background-color::#000;
}

QTableView {
    border: 2px solid #3873d9;
    border-color: #424547;
    border-radius: 1px;
    background-color: #363636;
    gridline-color: #777;
    selection-background-color: #333;
    selection-color: #ffffff;
    color:#eee;
    font-size:12px;
}

QMenuBar::item {
/*    background-color: black;*/
    color: white;
    border: 1px ;
    border-color: #4a4a4b;
}

QMenuBar::separator {
    height: 0px
}

QMenu {
    border: 1px;
    border-color: white;
}

QFrame {
    border: 1px;
    border-color: #424547;
}

QToolBox::tab {
    padding: 0px;
    border-bottom: 1px solid #6d6d6d;
}

QToolBox::tab:selected {
    padding: 0px;
    border-bottom: 1px solid #4ECBFF;
}

QPushButton{
    color: #d0d0d0;
    border: 1px solid #707172;
    background-color: qlineargradient(
        x1 : 0, y1 : 0, x2 : 0, y2 : 1,
        stop : 0 #4E4E4E,
        stop: 1 #4F4F4F
        );
}

QPushButton:pressed{
    background-color: qlineargradient(
        x1 : 0, y1 : 0, x2 : 0, y2 : 1,
        stop : 0 #5d5f5e,
        stop: 1 #4f4f50
        );
}

QPushButton:hover{
    color: #C0C0C0;
    background-color: qlineargradient(
        x1 : 0, y1 : 0, x2 : 0, y2 : 1,
        stop : 0 #626262,
        stop: 1 #616161
        );
}

QTextEditLog {
    background-color: #38393a;
}

QCheckBox{
    border-color: #4C4D4D;
    border-radius: 1px;
}

QCheckBox::indicator:unchecked{
    background-color: #3f4041;
    border: 1px #616161;
}

QComboBox{
    border: 1px solid #4C4D4D;
    border-radius: 1px;
}

QComboBox::drop-down {
    width: 20px;
    image: url(:/images/sort-down_gray.png);
}

QComboBox::down-arrow {
    border-color: #3f4041;
}

QSpinBox{
    border: 1px solid #4C4D4D;
    background-color: #3f4041;
    border-radius: 2px;
    padding-right: 0px;
}

QSpinBox::up-button {
    width: 20px;
    image: url(:/images/sort-up_gray.png);
}

QSpinBox::down-button {
    width: 20px;
    image: url(:/images/sort-down_gray.png);
}

QDoubleSpinBox{
    border: 1px solid #4C4D4D;
    background-color: #3f4041;
    border-radius: 2px;
    padding-right: 0px;
}

QDoubleSpinBox::up-button {
    width: 20px;
    image: url(:/images/sort-up_gray.png);
}

QDoubleSpinBox::down-button {
    width: 20px;
    image: url(:/images/sort-down_gray.png);
}
